.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  color: white;
}

.header__logo {
  margin-left: 48px;
}

.header__search {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__searchContainer {
  height: 20px;
  border: 1px solid #31363a;
  border-radius: 4px;
  width: 375px;
}
.header__searchContainer input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
  color: white;
}

.header__searchContainer input:focus {
  outline: none;
}

.header__menuItems {
  margin-left: 48px;
  margin-right: 48px;
}

.header__menuItems a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}

.header__menuItems a:hover {
  color: #5ac53b;
}
