.sidebar {
  flex: 0.2;
  height: 100vh;
  background-color: #040404;
  color: white;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__logo {
  /* object-fit: contain; */
  height: 70px;
  padding: 10px;
  margin-right: auto;
  /* width: 50%; */
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
